<form method="post">

    Palun valige värv<br><br>

    Punane: <input type="radio" name="color" value="red" tpl-checked="$color === 'red'">
    Sinine: <input type="radio" name="color" value="blue" tpl-checked="$color === 'blue'">

    <br>
    <br>

    <button type="submit" name="cmd" value="select">Edasi</button>

</form>